.settings {
  display: flex;
  justify-content: center;
}

.settingsWrapper {
  flex: 9;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.fileUpload2 {
  display: none;
}
.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.settingsUpdateDelete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.delete-div{
  width: 20%;
}
.delete-All-Posts{
  cursor: pointer;
}
.settingsform {
  display: flex;
  flex-direction: column;
}
.settingsform2 {
  pointer-events: none;
}
.settingsProfilePic {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settingsProfilePic img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.settingsProfilePicicon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
  cursor: pointer;
}
.settingsform label {
  font-size: 20px;
  margin-top: 20px;
}
.settingsform input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 2px solid lightgray;
  outline: none;
}
.settingsSubmit {
  width: 150px;
  align-self: center;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.settingsSubmit2 {
  cursor: not-allowed;
  background-color: gray;
}
.sucessCont {
  width: 150px;
  align-self: center;
  background-color: red;
}
.updated-sucessfully {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  align-self: center;
  color: #239b56;
  padding: 10px;
  margin-top: 20px;
}
.settingsSubmit3 {
  cursor: not-allowed;
}

/*This section is for the user details when the userUpateMood is false  */
.user-details-div {
  margin-top: 20px;
}
.user-details-div .settingsProfilePic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.settingsProfilePic label {
  padding-bottom: 10px;
}
.user-detail-container-username {
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.user-detail-container-username h4 {
  font-size: 15px;
  color: #b3b6b7;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
.user-detail-container-email {
  margin-top: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.user-detail-container-email h4 {
  font-size: 15px;
  color: #b3b6b7;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
.user {
  font-family: "Open Sans", sans-serif;
}
.user-details-div label {
  font-size: 20px;
}

/* Buttons */
.user-btn {
  font-size: 15px;
  width: 14%;
  margin-right: 5px;
  padding: 10px 0 10px 0;
}

.user-btn:hover {
  background-color: #f4540b;
}
.cancel-custom-btn{
  cursor: pointer;
  color: red;
 padding-top: 20px;
 padding-bottom: 15px;
  font-size: 20px;
}
.custom-edit-image-BTN{
  width: 13%;
  padding: 10px 0 10px 0;
}
.about-user-custom-BTN{
  width: 13%;
  padding: 10px 0px 10px 0px;
}
/*  about user section */
.about-user-div{
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding-bottom: 20px;
  border-bottom: #d1d1d1 solid 1px;
}

.custom-about-user-text-div{
  padding: 5px 5px 20px 5px;
}