

<style>
    .header {
        background: #000000;
    }

</style>

<div style="background: #FFFFFF; height: auto;   ;
       
    ">
    
    <div style=" margin: 0 auto;  width: 50%;  border-radius: 5px; height: auto; border: solid 1px #c9c9c9; padding: 10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px">
        <h3 style="color: #212121; font-family: Lato; font-size: 12px; ">
            <%= username %>
        </h3>
        <p style="color: #212121; font-family: Lato; font-size: 12px;">
            <%= userEmail %>
        </p>
        <p style="color: #212121; font-family: Lato; font-size: 12px;">
            <%= emailBody %>
        </p>
    </div>
</div>