.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color: #58595B;
  background-position: center;
}
.loginContainer {
  display: flex;
  margin-top: 70px;
  padding-bottom: 20px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 400px;
  box-shadow: 8px 8px 8px -6px black;
}
.loginContainer label{
  color:#626567;
  font-family: "Lato", sans-serif;
}
.loginTitle {
  color:#626567;
   font-family: "Lato", sans-serif;
  font-size: 50px;
}
.loginform {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginform label {
  margin: 10px 0;
}
.loginInput {
  width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}
.loginButton {
  font-family: 'Josefin Sans',sans-serif;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  padding: 13px 8px 13px 8px;
  background-color: #FF661F;
  border: none;
  color:white;
  border-radius: 5px;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: rosybrown;
}

.loginRegisterButton {
  font-family: 'Josefin Sans',sans-serif;
  padding: 13px 8px 13px 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #58595B;
}
.passResetBTN {
  font-family: 'Josefin Sans',sans-serif;
  margin-top: 20px;
  cursor: pointer;
  padding: 13px 20px 13px 20px;
  background-color: #FF661F;
  border: none;
  color: white;
  border-radius: 5px;
}

/* Admin login */
.custom-main-wrapper{
  height: 100vh !important;
}
.admin-login-custom-div{
  margin-top: 100px;
  border-radius: 10px;
  width: 50%;
  padding: 0 10px 0px 10px;
  height: auto;
}
.admin-login-custom-div2 {
  height: auto;
  
}

.admin-main-custom-div{
  height: auto;
  margin-top: 100px;
}
.admin-custom-text{
  margin-top: 10px;
}
.custom-admin-input{
  margin-top: 10px;
}
.admininform{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom:40px;

}

@media (max-width: 1200px){
  .login{
    justify-content: center;
  }
  .loginContainer{
    margin-top: 0 !important;
  }
}


@media (max-width: 768px){
  /*admin section  */
  .admin-login-custom-div{
    width: 70%;
  }
}

@media (max-width: 576px){
.admin-login-custom-div {
    width: 80%;
  }
}


@media (max-width: 500px){
  
  .admin-main-custom-div{
    max-width: 1700px !important;
    padding: 0 10px !important;
    
  }
  .admin-login-custom-div {
      width: 100% !important;
      
  }
 
}



/* Mobile*/
@media (max-width: 400px){
  .login {
    height: 100vh;
  }
  .loginContainer {
    width: 90%;
  }
  .loginform {
    width: 80%;
  }
  .loginInput {
    width: 90%;
  }

  
}
