/*.top {
  color: white;
  width: 100%;
  height: 50px;
  background-color: #111111;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Varela", sans-serif;
  z-index: 999;
}
/*.topLeft,
.topRight {
  height: 100%;
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.topCenter {
  flex: 4;
}

.topicon {
  font-size: 20px;
  color: #FF661F;
  cursor: pointer;
}
.topicon:hover{
  color: white;
}
/*.topimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
*/


.close {
  display: none;
}
.open {
  display: none;
}

/* Mobile*/
@media (max-width: 500px) {
  .top {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #5d6d7e;
    height: 450px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
    transform: translateX(-100vw);
  }
  .top2slidein {
    transform: translateX(0vw);
    transition: 0.4s ease-in-out;
  }
  .top2slideOut {
    transform: translateX(-100vw);
    transition: 0.4s ease-in-out;
  }
  .topList {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .topListItem {
    margin-bottom: 10px;
  }
  .topLeft {
    margin-top: 20px;
  }
  .close {
    display: block;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
  }

  .open {
    display: block;
    font-size: 30px;
    color: #99a3a4;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 10;
  }
  .topSearchIcon {
    color: white;
  }
}

/* Mobile*/
@media (max-width: 400px) and (min-width: 320px) {
  .top {
    width: 45%;
  }
}
