.singlePost {
  flex: 9;
  width: 100%;
}

/*Loading section  */
.loading-div {
  width: 75%;
  display: flex;
  justify-content: center;
}
.loading-title {
  color: gray;
  font-family: "Lora", serif;
  margin-top: 100px;
  font-size: 60px;
}

/* Loading section ends */
.singlePostWrapper {
  width: 97%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 0;
}
.main-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.singlePostImg {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  color: gray;
  text-align: center;
  font-family: "Lora", serif;
  margin: 10px;
  font-size: 28px;
}
.singlePostAuthor{
  display: flex;
}
.singlePostEdit {
  display: flex;
  float: right;
  font-size: 16px;
}

.singlePostTitleInput {
  color: gray;
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  border: none;
  border-bottom: 1px solid lightgray;
}
.singlePostTitleInput:focus {
  outline: none;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: #FF661F;
}
.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #FF661F;
  font-family: "Varela Round", sans-serif;
}
.singlePostDesc {
  font-size: 16px;
  color: #626567;
  line-height: 1.5em;
}
.singlePostDescInput {
  
  font-size: 16px;
  color: #626567;
  line-height: 1.5em;
  height: 250px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.singlePostDescInput:focus {
  outline: none;
}
.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.single-category-div {
  border-bottom: 1px solid gray;
  font-family: "Open Sans", sans-serif;
  color: #FF661F;
  padding-top: 20px;
  display: flex;
}
.cat-Text {
  cursor: pointer;
  margin-left: 10px;
  padding-bottom: 10px;
}
.singlePostButton {
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  width: 10%;
  background-color: #FF661F;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  align-self: flex-end;
}
.edit-category-div {
  transition: 0.4s ease-in-out;
  opacity: 0;
  width: 14%;
}
.edit-category-div-animated{
  opacity: 1;
}
.custom-category-edit-BTN{
  padding: 10px 10px 10px 10px;
  width: 14%;
  
}
.category-box {
  width: 12.5%;
  outline: none;
  border: none;
  border-bottom: rgb(195, 195, 195) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.category-edit-display-div{
  width: 100%;
  height: 80px;
}
/* comment section   */
.displayed-comments {
  background-color: #f2f4f4;
  margin-top: 20px;
  display: flex;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 15px;
  padding-bottom: 15px;
}
.users-comment {
  color: #FF661F;
  font-family: "Varela Round", sans-serif;
  margin-left: 15px;
  margin-top: 30px;
  padding-bottom: 50px;
}
.comment-info {
  width: 100%;
  margin-left: 15px;
}
.commentPic {
  width: 50px;
  height: 50px;
}
.user-pics {
  border-radius: 5px;
  width: 100%;
  height: 50px;
}
.comment-author-div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.comment-author-date-info {
  display: flex;
}
.comment-edit-delete-div {
  margin-right: 30px;
}
.comment-date {
  margin-left: 10px;
  margin-top: 3px;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #666;
}
.comment-author {
  cursor: pointer;
  color: #00889c;
  font-weight: bold;
  font-size: 17px;
}
.comment-content {
  color: #666;
  padding-top: 10px;
  padding-right: 10px;
}

.comment-div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-self: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.comment-wrapper {
  padding-top: 20px;
  height: 70px;
  text-indent: 10px;
  border: none;
  border: 1.5px solid gray;
  outline: none;
  width: 60%;
}
.comment-wrapper:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.comment-btn {
  width: 15%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.6s ease-in-out;
}
.comment-btn:hover {
  background-color: #f65104;
}
.comment-btn-no-cursor {
  cursor: not-allowed;
  background-color: red;
}
.reply-comment {
  font-family: "Varela Round", sans-serif;
  color: #d8b36c;
  width: 0%;
  cursor: pointer;
  padding-top: 10px;
  margin-top: 5px;
}
.reply-div {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
/* reply comment section  */

.display-reply-comment {
  background-color: #fbfcfc;
  margin-top: 20px;
  display: flex;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 15px;
  padding-bottom: 15px;
}

/* Social media display section */
.social-media-text{
  margin-left: 15px;
}

.like-icon{
  margin-top: 5px;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}
.like-icon-liked{
  color: #f65104;
}
.like-icon-div{
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.edit-imageBTN{
  display: flex;
  justify-content: center;
  width: 20%;
}
.cancel-edit-mode-btn{
  transition: 0.5s ease-in-out;
  display: flex;
  float: right;
  cursor: pointer;
  margin-top: 15px;
  font-size: 30px;
  color: red;
  
}
.cancel-edit-mode-btn:hover{
 
  transform: scale(1.2);
}
.edit-image-div{
  width: 100%;
 
}
.edit-writeImg{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.custom-editor-div img{
  width: 100%;
  height: 60vh;

}
.editor {
  padding: 16px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}
/* edit post Editor section  */
.edit-post-div{
 width: 100%;
 min-height: 60vh;
 overflow: hidden;
}
.edit-post-div p{
  color: red;
  font-size: 100px;
}
