
/* reset password page custom css */

.passwordreset-custom-div{
    height: 30vh;
    width: 45%;
    padding: 0 15px 0 15px;
}
.passwordreset-custom-div2 {
    height: auto !important;
}
.resetTitle{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.reset-lebel{
    padding-bottom: 10px;
}

.password-reset-custom-email-icon{
    font-size: 100px;
}
/* change password page custom css  */
.check{
    font-size: 120px;
}
.resetPassCustom-Div{
    height: 50vh;
}
.notMatchCustomText{
    color: red;
}

.custom-change-password-wrapper {
  height: 40vh;
}
.custom-reset-password-BTN{
    width: 45%;
}





@media (max-width: 1200px){
    .custom-pass-reset-div{
        width: 100%;
    }
    .custom-reset-password-BTN{
        padding: 13px 10px 13px 10px !important;
        width: 20%;
        
    }

    .passwordreset-custom-div{
        width: 60% !important;
    }

    .custom-resetpass-link-sent-div{
        width: 50% !important;
    }

    .custom-change-password-wrapper-2{
        height: 46vh;
    }
}




@media (max-width: 768px){

    .custom-password-rest-main-div{
        padding: 0 10px !important;
    }
    .custom-pass-reset-div{
        width: 100%;
    }
    .custom-reset-password-BTN{
        padding: 13px 10px 13px 10px !important;
        width: 30%;
        
    }

    .passwordreset-custom-div{
        width: 75% !important;
    }

    /* change password section */

    .custom-change-pass-main-div{
        padding: 0 10px !important;
    }

    .custom-change-password-wrapper{
        width: 80% !important;
    }

    /* notification sections  */
    .resetPassCustom-Div{
        width: 75% !important; 
    }
}




@media (max-width: 500px){
    /* notification sections  */
    .resetPassCustom-Div{
        width: 90% !important; 
        height: 42vh;
    }
    .custom-change-pass-title-text{
        font-size: 17px !important;
    }
    .custom-change-pass-icon{
        font-size: 110px;
    }
    .custom-change-pass-text{
        font-size: 13px!important;
    }
    .custom-reset-password-BT{
    font-size: 15px !important; 
    }
    .custom-password-sent-text{
        font-size: 13px;
    }
    
}



@media (max-width: 420px){
    .resetPassCustom-Div{
        width: 100% !important;
    }
    .custom-change-pass-word-BTN{
        font-size: 15px !important;
        padding: 13px 40px 13px 40px !important;
    }
    .custom-password-rest-main-div{
        padding: 0 5px !important;
    }
    
    .resetTitle{
        font-size: 17px;
        margin-top: 7px; 
    }

   
    .custom-reset-password-BTN{
        padding: 13px 10px 13px 10px !important;
        width: 50%;
        font-size: 15px !important;
        
    }

    .passwordreset-custom-div{
        width: 90% !important;
    }

 /* change password section */
    .custom-change-password-wrapper{
        width: 90% !important;
    }

/* password sent component section  */

    .password-reset-custom-email-icon{
        font-size: 90px;
    }
 .notMatchCustomText{
    font-size: 12px;
 }
}




@media (max-width: 300px){
.custom-change-pass-main-div{
    padding: 0 3px !important;
}
.passwordreset-custom-div2 {
    height: auto;
    width: 80% !important;
}
.resetPassCustom-Div{
   height: 43vh;
   padding: 5px;
}
.custom-change-pass-icon{
    font-size: 80px;
}
}