
/* reset password page custom css */
.passwordreset-custom-div{
    height: 30vh;
    width: 45%;
    padding: 0 15px 0 15px;
}
.passwordreset-custom-div2 {
    height: 33vh;
}
.resetTitle{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.reset-lebel{
    padding-bottom: 10px;
}

.password-reset-custom-email-icon{
    font-size: 100px;
}
/* change password page custom css  */
.check{
    font-size: 120px;
}
.resetPassCustom-Div{
    height: 50vh;
}
.notMatchCustomText{
    color: red;
}