:root {
    --biggerScreenTX: -25vw;
     --phoneModeTX: 0vw;
    --tx: 1vw;
    --tabletModeTX: 25vw;
    --lastSlide: -100vw;
    --nextSlide: 100vw;
    --postTitleLine: 0%
    
}
/*  cursor not allowed */
.curson-not-allowed{
    position: absolute;
    width: 100%;
    cursor: not-allowed;
    background-color: red;
    z-index: 999;
}
.curson-not-allowed-2{
    cursor: not-allowed;
}

.pointer-events-none {
    pointer-events: none;
}
.general-cursor-pointer{
    cursor: pointer;
}

.mainWrapper{
background-color: #ECF0F1;
overflow: hidden;
}
.mainContainer{
    height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/* general div designs */
.box-div{
    position: relative;
    width: 50%;
    padding-bottom: 10px;
    margin-bottom: 50px;
    background-color: white;
    height: 45vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* general display */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-flex-align-display{
    display: flex;
    align-items: center;
}

.center-flex-justify-display{
    display: flex;
    justify-content: center;
}

/* general text */
.text-general-BIG{
    color:#626567;
    font-family: "Lato",sans-serif;
    font-size: 50px;
}
.text-general-Medium{
    color:#626567;
    font-family: "Lato",sans-serif;
    font-size: 30px;
}
.text-general-small2{
    font-size: 20px;
    font-family: "Lato",
    sans-serif;
}
.text-general-small{
    font-size: 15px;
    font-family: "Lato",
    sans-serif;
}
.text-general-extral-small{
    font-size: 12px;
    font-family: "Lato",sans-serif;
}
.support-team-text{  
color: #99a3a4;
margin-top: 10px;
font-size: 15px;
font-family: "Satisfy";
font-style: italic;

}
.postTitle{
    font-size: 28px;
    font-family: "Lato",sans-serif;
}
.center-text{
    text-align: center;
}

.paragraph-text{
    font-family: "Varela Round",sans-serif;
    text-align: center;
    margin-top: 10px;
    color: #a6acaf;
}
.red-text {
    color: red;
}


.color1 {
    color: #a6acaf;
}

.white-text {
    color: white;
}
.color2{
    color: #FF661F;
}

.colorBG{
    background-color:#FF661F ;
}
.color3{
    color:#626567;
}
.color4{
    color: #27AE60;
}
.transitionText{
    transition: 0.2s ease-in;
}
/* Margins  */
.topMargin-Extral-Large{
    margin-top: 100px;
}
.topMargin{
    margin-top: 50px;
}
.topMargin-medium{
    margin-top: 30px;
}

.margin-small{
    margin-top: 15px;
}
.margin-small-small{
    margin-top: 10px;
}
.margin-extra-small-Top{
    margin-top: 5px;
}
.marginLeft-sm{
    margin-left: 20px;
}
.marginLeft-extraSmall{
    margin-left: 10px;
}
.marginRight-sm{
    margin-right: 20px;
}
.marginRight-extraSmall{
    margin-right: 10px;
}
.margin-left-sm1{
    margin-left: 10px;
}
.margin-left-EX-small{
    margin-left: 5px;
}
.rightMargin-medium{
    margin-right: 30px;
}
.rightMargin-medium-large{
    margin-right: 50px;
}
.rightMargin-large{
    margin-right: 100px;
}
/* General padding  */
.padding-bottom{
    padding-bottom: 30px;
}
.padding-buttom-sm{
    padding-bottom: 15px;
}

.padding-left-right{
    padding: 0 20px 0 20px;
}

.mousePointer-click-general{
    cursor: pointer;
}
/* general input */
.input-general{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}
/* general label */
label{
    color:#626567;
    font-family: "Lato",sans-serif;
}
/* geneal button */
.button-general{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    padding: 13px 8px 13px 8px;
    background-color: #FF661F;
    border: none;
    color:white;
    border-radius: 5px;
}
.button-general-2{
padding: 13px 70px 13px 70px;
font-family: 'Source Sans Pro',sans-serif;
font-weight: 700;
margin-top: 20px;
font-size: 18px;
cursor: pointer;
background-color: #FE661F;
border: none;
color:white;
border-radius: 5px;
}
/* geneal icons */
.Icon{
margin-top: 15px;
font-size: 150px;
color: #FF661F;
}
.iconSM{
    font-size: 20px;
}

/* full width*/
.full-width{
    width: 100%;
}
/* gneral circle radius  */
.radius-circle{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
}
.radius-circle:hover{
    background-color: #FF661F;
    
}
/* email verification, password reset, confimration, etc section */
.email-div {
    padding-bottom: 15px;
    width: 50%;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Home Pages section */
.homePage-post-div {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}
/* line section  */
.page-line {
    width: 100%;
}

.page-line2 {
    width: 99%;
    background-color: #b9bec1;
    opacity: 0.3;
}

.page-line1 {
    background-color: #FF661F;
    width: 10%;
    height: 1px;
}

.custom-icon-font-size{
    font-size: 30px;
}
/*  general textbox */

.custom-about-user-textbox {
    outline: none;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px 10px 30px 10px;
    border-bottom: #d1d1d1 solid 1px;
    border-top: #d1d1d1 solid 1px;
}
.bg-blur{
    filter: blur(4px);
}
.custom-fontSize{
    font-size: 25px;
}
/* animation */
.customParaText{
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.opacityOff{
    opacity: 0;
}
.fadeInText{
    opacity: 1;
}
