.category-custom-div-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93%;
    width: 95%;
}
.custom-page-setting-div{
    width: 83% !important;
}

.custom-other-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-div-wrapper{
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #414141;
}
.create-category-div{
    width: 30%;
    margin-left: 10px;
}
.custom-category-input{
    transition: ease-in-out 0.5s;
}
.custom-category-input:focus{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.category-display-div{
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    background-color: #414141;
    height: 100%;
   
}
.category-single-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 85px;
    margin-top: 3px;
    background-color: #414141;
    padding-right: 10px;
    
}
.category-custom-text{
    width: 30%;
    cursor: pointer;
    margin-left: 15px;
    color: white;
    transition: 0.6s ease-in-out;
}

.category-custom-text:hover{
    transform: translateX(20px);
    color: #FF661F;
    
}
.category-icons-div{
    display: flex;
    justify-content: right;
    width: 60%;
}
.category-icon-edit{
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #FF661F;
    font-size: 20px;
    margin-right: 10px;
    
}
.category-icon-delete {
    transition: 0.3s ease-in-out;
    color: white;
    margin-right: 10px;
   
}
.category-icon-delete:hover{
    transform: scale(1.2);

}
.category-icon-edit:hover{
    transform: scale(1.2);
}

.custom-category-name-div{
    display: flex;
    width: 40%;
}
.custom-no-cat-display-div{
    height: 83vh;
}
.custom-page-setting-BTN-div{
    padding-bottom: 50px;
    height: 50vh;
}
.custom-page-setting-BTN{
    width: 100%;
}


@media(max-width: 1200px){

.custom-other-page{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
 .custom-page-setting-title-text{
    font-size: 20px !important;
 }

 .category-div-wrapper {
     justify-content: space-between;
     width:100%;
 }

 .category-single-div {
     height: 77px;
 }
 .custom-page-setting-BTN {
     width: 100%;
     font-size: 18px !important;
     padding: 13px 8px 13px 8px !important;
 }
}



@media(max-width: 992px){
.category-custom-text{
    font-size: 16px !important;
    }
.category-icon-edit{
    font-size: 16px;
}
.custom-page-setting-BTN{
    width: 50%;
    font-size: 15px !important;
    padding: 10px 8px 10px 8px !important;
}
}


@media(max-width: 476px){
.category-div-wrapper{
    height: 80vh;
}
.category-single-div {
    height: 80px;
    }
.custom-category-name-div{
    width: 100%;
    }
.category-icons-div {
    margin-top: 10px;
    width: 100%;
    display: flex;
    margin-left: 5px;
    }
.category-single-div{
    flex-direction: column !important;
    justify-content: center !important;
}
.custom-create-category-title-text{
        font-size: 15px !important;
    }
.custom-create-category-input{
    padding: 5px !important;  
    width: 100%;
}
.custom-page-setting-BTN{
    width: 100%;
}
.create-category-div {
    width: 40%;
    margin-left: 10px;
}
.category-display-div{
  width: 50%; 
}
.category-icon-edit{
  font-size: 14px;  
}
.category-custom-text{
    font-size: 14px !important ;
}
}