.custom-other-page-subscribers{
    position: relative;
    width: 83%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.custom-subcribers-main-wrapper{
    margin-top: 15px !important;
}
.custom-subscriber-sub-div{
    width: 98%;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.custom-subscriber-icon-div{
    background-color:#FF661F;
    border-radius: 100px;
    width:140px;
    height: 140px;
}
.custom-subscribers-icon{
    font-size: 90px;
    color: white;
   
}
.custom-subscribers-sub-text-div{
    width: 50%;
}
.custom-subscribers-BTN-div{
    width: 30%;
    justify-content: right;
}
.custom-subscribers-BTN{
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    background-color: #FF661F;
    padding: 15px 30px 15px 30px;
    outline: none;
    border: none;
}

.custom-display-allSubscribers-div{
    background-color: #F4F6F7;
    position: absolute;
    z-index: 500;
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
}
.custom-subscribers-heading-div{
    justify-content: space-between;
}
.custom-subscribers-listing-div{
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 5px;  
    padding-right: 5px;
    height: 35px; 
}
.custom-sub-subscribers-heading-text-div{
    justify-content: space-between;
}
.custom-subscriber-list-header-div{
    width: 25%;
}
.custom-verified-div{
    justify-content: right;
   
}
.custom-disabled-screen{
    position: fixed;
    width: 100%;
    height: 85vh;
    z-index: 99;
    cursor: not-allowed;   
}
.custom-subscribers-cancel-icon{
    color: red;
    cursor: pointer;
    font-size: 15px;
}
.custom-subscribers-cancel-main-title-div{
    justify-content: right;
}
.customNavigation-subscribers-icon{
    color: #FF661F;
    font-size: 30px;
}
.custom-reminder-subscriber-text{
    color: #FF661F;
    cursor: pointer;
    
}
.custom-subscribers-loading-div{
    width: 98%;
    height: auto;
    position: absolute;
}



@media (max-width: 1200px){
.custom-other-page-subscribers{
        width: 97%;
    }
.custom-subscriber-sub-div{
    width: 100%;
}
.custom-subscribers-sub-text-div {
        width:55%;
    }
.custom-subscribers-BTN-div{
    width: 25%;
    justify-content: right !important;
}

.custom-subscriber-icon-div {
    width: 130px;
    height: 130px;
}
.custom-subscribers-icon{
    font-size: 70px;
}

.custom-display-allSubscribers-div {
    width: 67%;
    padding: 15px;
    padding-bottom: 5px;
}

.custom-subscribers-listing-div {
    height: 30px;
}

}


@media (max-width: 992px){
.custom-subscriber-sub-div{
    width: 98%;
}
.custom-subscribers-sub-text-div{
        width: 57%;
    }
.custom-subscribers-BTN-div{
    width: 20%;
}
}




@media (max-width: 768px){
.custom-subscriber-icon-div{
    width: 130px;
    height: 130px;
}
.custom-subscribers-icon{
    font-size: 60px;
}
.custom-subscribers-sub-text-div{
    width:55%;
}
.custom-subscribers-BTN-div{
    width: 20%;
    margin-left: 2px!important;
}
.custom-subscribers-BTN-div h5{
    font-size: 25px !important;
}
.custom-other-page-subscribers{
    padding-bottom: 15px;
}

}



@media (max-width: 672px){
.custom-subscribers-BTN-div {
    width: 19%;
    margin-left: 0px !important;
}
}




@media (max-width: 627px) {
.custom-subscribers-sub-text-div{
    width:53%;
}
.custom-subscribers-BTN-div {
    width: 19%;
    margin-left: 0px !important;
}
}


@media (max-width: 620px) {
    .custom-subscribers-sub-text-div {
        width: 50%;
    }

    .custom-subscribers-BTN-div {
        width: 22%;
        margin-left: 0px !important;
    }
.custom-subscribers-BTN {
    padding: 15px 20px 15px 20px;
}
}


@media (max-width: 584px) {
    .custom-subscribers-sub-text-div {
        width: 50%;
    }

    .custom-subscribers-BTN-div {
        width: 20%;
        margin-left: 0px !important;
    }

    .custom-subscribers-BTN {
        padding: 15px 17px 15px 17px;
    }
.custom-subscribers-sub-text-div p{
    font-size: 13px !important;
}
}




@media (max-width: 576px){
.custom-other-page-subscribers{
    width: 95%;
}
.custom-display-allSubscribers-div{
    width: 80%;
    }
  .custom-subscriber-icon-div{
    width: 110px;
    height: 110px;
  }
  .custom-subscribers-icon{
    font-size: 50px;
  }
  .custom-subscribers-sub-text-div h5{
    font-size: 18px !important;
  }
  .custom-subscribers-sub-text-div p{
    font-size: 15px !important;
  }
  .custom-subscribers-BTN{
    padding: 8px;
    font-size: 13px;
  }
}


@media (max-width: 500px) {

    .custom-subscriber-icon-div {
        width: 90px;
        height: 90px;
    }

    .custom-subscribers-sub-text-div h5 {
        font-size: 18px !important;
    }

    .custom-subscribers-sub-text-div p {
        font-size: 14px !important;
    }

}



@media (max-width: 440px) {

    .custom-subscriber-icon-div {
        width: 75px;
        height: 75px;
    }

    .custom-subscribers-sub-text-div h5 {
        font-size: 15px !important;
    }

    .custom-subscribers-sub-text-div p {
        font-size: 12.4px !important;
    }
    .custom-verified-div{
        margin-left: 20px;
    }

}


@media (max-width: 400px){
    .custom-other-page-subscribers{
        width: 94%;
    }
    .custom-subscriber-sub-div{
        flex-direction: column !important;
        width: 95%;
    }
    .custom-subscriber-icon-div{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .custom-subscribers-sub-text-div{
        width: 96%;
    }
    .custom-subscribers-BTN-div{
        width: 97%;
        justify-content: center !important;
        padding-bottom: 5px;
    }
    .custom-subscribers-title-sub-text{
        text-align: center;
    }
    .custom-subscriber-para-text{
        padding-right: 5px;
    }

    .displayNoneLastChild{
        display: none !important;
    }

    .custom-subscribers-delete{
        font-size: 12px;
    }
    .custom-subscriber-list-header-div{
        width: 25%;
        overflow-wrap: break-word;
        
       
    }
    .custom-subscriber-list-header-div h5{
        font-size: 10px !important;
       
    }
   
    .custom-subscriber-list-email-div{
        margin-right: 35px !important;
        
    }
    .custom-subscribers-general-title-text{
        font-size: 12px;
    }
    .custom-verified-div{
        margin-left: 0px;
    }
}




