.custom-about-us-div{
    max-width: 1300px;
    height: 30vh;
}
.custom-about-app-text{
    line-height: 1.5em;
}

.custom-about-us-sub-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}




@media(max-width: 1200px){
    .custom-about-us-div{
        margin-top: 80px;
        padding-bottom: 20px;
    }

}



@media(max-width: 576px){
.custom-about-us-div {
    padding: 0 20px;
    padding-bottom: 20px;
    }
}



@media(max-width: 320px){
.custom-about-us-div {
    padding: 0 12px;
    padding-bottom: 20px;
}
}