
.formating-bar {
    text-indent: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.submit-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-div{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.submit-btn-div{
   width: 85%;
    padding-bottom: 20px;
    margin-left: -40px;
    position: relative;
    z-index: 99;
}
.custom-submit-btn{
    cursor: pointer;
    width: 14%;
}
.custom-editor-wrapper{
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 700px;
    margin-top: 15px;
   
}
.custom-editor-className{
    overflow: hidden;
    width: 97%; 
    padding-left:5px ; 
}
.toolbar-class{
    width: 99.3%;
}
.custom-toolbox{
    width: 6%;
}
.custom-slate-bar{
    background-color: #F0F3F4;
    height: 50px;
    width: 100%;
}
.formating-icon{
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
}
.edit-icon-main-div{
    height: 50px;
    max-width: 1800px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.edit-icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDFEFE;
    height: 80%;
    width: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.textAreaCustom{
    max-height: 700px;
    min-height: 700px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 1800px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    margin-top: 20px;
}
.title-header-custom-div{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 130px;
    padding-right: 15px;
}
.arrowDown{
    font-size: 20px;
    cursor: pointer;
}
.textParagraph{
    width: 80%; 
}
.text-selection-div{
    transition: 1s ease-in;
    opacity: 1;
    background-color: #FDFEFE;
    width: 143px;
    position: fixed;
    z-index: 999;
    top: 190px;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   
}

.custom-text-selection{
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.custom-text-selection-BG{
    transition: 0.3s ease-in;
    background-color: #D0D3D4;
}

.custom-post-title-input{
    width: 85%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 1px solid #D0D3D4;
    border-top: 1px solid #D0D3D4;
}

.category-display-main-div {
    transition: 0.2s ease;
    height: 0;
    width: 14%;
}
.no-display-cat{
    opacity: 0;
}
.category-display-main-div-animated {
    height: auto;
    display: 0;
   
}
.category-div{
    width: 85%;
    margin-top: 10px;
}

.category-div h5 {
    font-family: sans-serif; 
}

.category-box {
    width: 12.5%;
    outline: none;
    border: none;
    border-bottom: rgb(195, 195, 195) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.select-category-custom-BTN {
    transition: 0.4s ease-in-out;
    width: 14%;
    font-size: 15px;
    margin-left: -20px;
}
.custom-category-text-title{
    margin-left: -20px;
}
.custom-single-category-div {
    transition: 0.25s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    background-color: #EEEEEE;
    width: 100%;
    height: 30px;
    opacity: 1;

}

/*Tablet */ 
@media (max-width: 1200px){
.formating-bar {
    margin-top: 80px !important;
}
.category-box {
    width: 28%;
}
.select-category-custom-BTN {
    width: 30%;   
}
.custom-submit-btn {
    width: 30%;
}
.category-display-main-div{
    width: 30%;
}
}


@media (max-width: 992px){
    .custom-toolbox{
        width: 15%;
    }
    .toolbar-class{
        width: auto;
        
    }
    .category-box {
        width: 35%;
    }
    .select-category-custom-BTN {
        width: 50%;
    }
    .custom-submit-btn {
        width: 50%;
    }
    .category-display-main-div {
    width: 50%;
}
}



@media (max-width: 768px){
.custom-toolbox {
    width: 10%;
}
}


@media (max-width: 576px){
.custom-toolbox {
        width: 25%;
    }
.custom-editor-wrapper{
    margin-top: 2px;
    width: 95%;
}
.custom-editor-className{
    overflow: hidden;
    width: 100%; 
    padding-left:0 ;
    padding: 5px; 
}
.custom-editor-className img{
    margin-top: 0 !important;
}
}





@media (max-width: 440px){
   
.category-box {
    width: 60%;
}

.select-category-custom-BTN {
    width: 80%;
}

.custom-submit-btn {
    width: 80%;
}

.category-display-main-div {
    width: 80%;
}
 .no-display{
    display: none;
 }
 .custom-toolbox {
     width: 15%;
 }
 
}